<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="navBar">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" >
  <a class="navbar-brand" routerLink="">Lib_Manager</a>
  <ul class="navbar-nav">

    <li class="nav-item">
      <a class="nav-link" routerLink="addBooks">Add Books</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="addDVD">Add DVD</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" routerLink="borrowBooks">Borrow Item</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" routerLink="returnBooks">Return Item</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" routerLink="displayItem">Display Library</a>
    </li>


  </ul>
</nav>

<div class="container-fluid" style="margin-top:80px">

</div>

</body>
</html>


