<html>
<head>
  <title>
    Welcome to Lib_Manager
  </title>
</head>

<header class="home_heading">
  <h3 > Welcome to Lib_Manager</h3>
  <h5> Managing the library is much more easier and organized than we ever thought. </h5>
</header>

<body class="home_body">


<!--<mat-card class="para">-->
<!--<p> Within a single form the library items can be easily created with 100% accurate information. Any readers want to borrow the items?-->
<!--cool use the borrow item forms to lend the items, and store the reader information precisely-->
<!--Want to Check the available library items?... Use our advanced item management page to search or delete item..-->
<!--Having problems on calculating the Due date fee?.. No worries let us do it for you automatically when the reader returns the book.</p>-->

<!--<p> You can you the system to perform these tasks</p>-->


  <!--<button mat-fab color="primary" style="padding: 10px; margin: 10px">Add Book</button>-->
  <!--<button mat-fab color="primary">Add DVD</button>-->
  <!--<button mat-fab color="primary">Borrow Item</button>-->
  <!--<button mat-fab color="primary">Return Item</button>-->
  <!--<button mat-fab color="primary">Manage Item</button>-->
<!--</mat-card>-->
</body>
</html>
